@layer floor, theme, base, arco, components, utilities;

@import 'tailwindcss';
@import '@arco-design/web-react/dist/css/arco.min.css' layer(arco);
@import './styles/arco.css';

@layer floor {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

html,
body {
  font-family: initial;
  --gray-border: rgba(138, 138, 138, 0.18);
  --gray-bg: rgba(138, 138, 138, 0.13);
  --border-radius: 3px;
  --shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.1);
  --transition-timing-linear: cubic-bezier(0, 0, 1, 1);
  --transition-duration-1: 0.1s;
}
