@layer floor, theme, base, arco, components, utilities;

@import 'tailwindcss';
@import '@arco-design/web-react/dist/css/arco.min.css' layer(arco);

@layer floor {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'GoogleSansCode' initial !important;
  }
  *::selection {
    background-color: var(--color);
    color: white;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

body {
  font-family: 'GoogleSansCode';
  --gray-border: rgba(138, 138, 138, 0.15);
  --gray-bg: rgba(242, 243, 244, 1);
  --border-radius: 2px;
  --shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: 'GoogleSansCode';
  src: url('./fonts/GoogleSansCode-Regular.ttf') format('truetype');
}

.slide-down {
  will-change: transform, opacity;
  transform-origin: top;
  animation: slideDown 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slideDown {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
