@layer floor, theme, base, arco, components, utilities;

@import 'tailwindcss';
@import '@arco-design/web-react/dist/css/arco.min.css' layer(arco);

html,
body {
  font-family: initial;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

@layer floor {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
}

:root {
  --color: rgb(0, 100, 250);
  --color-bg: rgba(0, 100, 250, 0.1);
  --gray-border: rgba(138, 138, 138, 0.18);
  --gray-bg: rgba(138, 138, 138, 0.13);
  --border-radius: 3px;
}
